OPENAI_API_KEY=sk-OPENAI_API_KEY=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
PORT=5000
