
// COLOR VARIABLES
$color-white-000: #ffffff;

.introContainer {
  position: relative;
  width: 100vw;
  height: 300vh;
  overflow-x: hidden;
}

.introTitle {
  position: absolute;
  bottom: 60px;
  left: 50px;
  font-size: 4rem;
  color: $color-white-000;
  font-weight: 700;
  letter-spacing: 3px;
}
